doctype html
html(lang='en', xmlns="http://www.w3.org/1999/xhtml", lang="en-US)
meta(name="google", value="notranslate")

head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  link(rel="stylesheet", href="/css/omg.css", type="text/css")
  link(rel="stylesheet", href="/css/writer.css", type="text/css")
  title OMEGA APP
  style(type='text/css')

body(id='master')
  #terminal
  #options
    div.icon.publish
      div.hovr
        object(style='zoom:5', id='icon', data='/images/noun_project_1316.svg', type='image/svg+xml')
        div.gloss
    div.icon.channel
      div.hovr
        object(style='zoom:5', id='icon', data='/images/globe.svg', type='image/svg+xml')
        div.gloss
    div.icon.draftsman
      div.hovr
        object(style='zoom:5', id='icon', data='/images/pencil.svg', type='image/svg+xml')
        div.gloss
    div.icon.profile(data-auth=auth)
      div.hovr
        object(style='zoom:5', id='icon', class='fudge', data-fudge='10', data='/images/profile.svg', type='image/svg+xml')
        div.gloss
      
  script(type='text/javascript')
    var winX = window.innerWidth
    ,   winY = window.innerHeight;
  script(id='source', src="http://localhost:3333/client.deps.js", type="text/javascript", charset="utf-8")
  script(id='source', src="http://localhost:3333/browserify.js", type="text/javascript", charset="utf-8")
  script(type='text/javascript')
    window.onload = function() {
      var OMG = require('./index.js')
      ,   omg = new OMG(window);
      omg.init();
    }