#options
  background: transparent;
  border:none
  
#showOptions
  position: fixed
  top: 30px
  right: 70px
  font-size:50px
  color:#533

::selection {
  background-color:transparent;
}

#showOptions:hover
  cursor:pointer
  -webkit-transform: scale(2)